* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Header*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #333;
}

/*Responsive*/
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/*Body*/

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.pokemon-card {
  perspective: 1000px;
  height: 250px; /* altura fija para que no colapse */
}

.pokemon-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.pokemon-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-back {
  transform: rotateY(180deg);
}